<!-- begin OMERO users -->
        <div class="row small-up-2 large-up-3">
            <div class="column">
                <a href="{{ site.baseurl }}/products/omero/scientists/getting-started.html">
                    <img class="thumbnail" src="http://placehold.it/300x150">
                </a>
                <h5 class="text-center">Scientists</h5>
                <p class="text-center">Your microscopy images are securely stored but shareable and available from anywhere you have internet access.</p>
                <a href="{{ site.baseurl }}/products/omero/scientists/getting-started.html" class="button expanded">Get Started</a>
            </div>
            <div class="column">
                <a href="{{ site.baseurl }}/products/omero/developers/getting-started.html">
                    <img class="thumbnail" src="http://placehold.it/300x150">
                </a>
                <h5 class="text-center">Developers</h5>
                <p class="text-center">Join the OME community and extend OMERO’s functionality to suit your individual needs.</p>
                <a href="{{ site.baseurl }}/products/omero/developers/getting-started.html" class="button expanded">Get Started</a>
            </div>
            <div class="column">
                <a href="{{ site.baseurl }}/products/omero/institution/getting-started.html">
                    <img class="thumbnail" src="http://placehold.it/300x150">
                </a>
                <h5 class="text-center">Your Institution</h5>
                <p class="text-center">OMERO securely stores image data and enables all your users to manage the data from the same platform.</p>
                <a href="{{ site.baseurl }}/products/omero/institution/getting-started.html" class="button expanded">Get Started</a>
            </div>
        </div>
        <!-- end OMERO users -->